.Scaner {
    margin-left: 36%;
    width: 27%;
    margin-top: 3%;
}

p.Title_indi {
    color: black;
    font-weight: bold;
    font-size: 159%;
    text-align: center;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    z-index: 1;
    position: fixed;
    float: right;
    /* text-align: right; */
    width: 112%;
    font-size: 130%;
}